/* Variabili */
* {
    -green-bg: #c8ffc8;
    -green-txt: #00ad06;
    -red-bg: #ffc8c8;
    -red-txt: #ff0000;
    -light-gray-bg: rgb(248, 248, 248);
    -gray-bg: #ebebeb;
    -gray-txt: #868686;
}
/* Globali */
.root {
    -fx-background-color: white;
}
.button:hover {
    -fx-cursor: hand;
}
.button:pressed {
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}

/* Pulsanti di uscita */
.button.exit {
    -fx-background-color: -red-bg;
    -fx-text-fill: -red-txt;
}
.button.exit:hover {
    -fx-background-color: -red-txt;
    -fx-text-fill: -red-bg;
}

/*----------------------------------------------------------------------------*/
/* MENU DI SELEZIONE

/* Footer */
.footer {
    -fx-spacing: 75;
    -fx-background-color: -light-gray-bg;
    -fx-effect: dropshadow(three-pass-box, -gray-txt, 50.0, 0.0, 0.0, 0.0);
}
.chapter {
    -fx-border-color: -gray-bg;
    -fx-border-radius: 0;
    -fx-border-width: 1;
}

/*----------------------------------------------------------------------------*/
/* MENU DI SELEZIONE

/* Caricamento */
.loading {
    -fx-background-color: white;
}

/* Opzioni */
.button.option {
    -fx-background-color: rgb(187, 217, 255);
    -fx-text-fill: #0073ff;
}
.button.option:hover {
    -fx-background-color: #0073ff;
    -fx-text-fill: rgb(187, 217, 255);
}
.button.wrong {
    -fx-background-color: #ffc8c8;
    -fx-text-fill: #ff0000;
}
.button.correct {
    -fx-background-color: -green-bg;
    -fx-text-fill: -green-txt;
}
.button.neutral {
    -fx-background-color: -gray-bg;
    -fx-text-fill: -gray-txt;
}
.button:disabled {
    -fx-opacity: 1.0;
}

/* Navigazione */
.button.navigation {
    -fx-background-color: -gray-bg;
    -fx-text-fill: -gray-txt;
}
.button.navigation:hover {
    -fx-background-color: -gray-txt;
    -fx-text-fill: -gray-bg;
}
.button.navigation:disabled {
    -fx-opacity: 0.5;
}

/* Indicatore degli esercizi */
.label.counter {
    -fx-border-width: 2;
    -fx-border-color: rgb(136, 136, 136);
    -fx-border-radius: 25;
    -fx-text-fill: #888888;
}